/* Manual Rofi colors. See ~/.config/jannis/themes.conf for theme labels. */
* {
    background: #0f1419;
    foreground: #e6e1cf;
    select: #253340;

    pink: #f07178;
    purple: #d2a6ff;
    red: #f07178;
    orange: #ff8f40;
    yellow: #ffb454;
    green: #aad94c;
    blue: #59c2ff;
    gray: #5c6773;

    active-background: @select;
    urgent-background: @red;
    urgent-foreground: @background;
    selected-background: @active-background;
    selected-urgent-background: @urgent-background;
    selected-active-background: @active-background;
    bordercolor: @select;
}
