@import "../colors/colors.css";

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    font-weight: 600;
    min-height: 0;
}

window#waybar {
    background: @background2;
    color: @foreground;
    border-bottom: 1px solid @select;
}

tooltip {
    background: @background;
    border: 1px solid @select;
    border-radius: 6px;
}

tooltip label {
    padding: 6px 10px;
}

#workspaces button {
    color: @gray;
    background: transparent;
    padding: 0 9px;
    margin: 5px 2px;
    border-radius: 6px;
    border: 1px solid transparent;
}

#workspaces button:hover {
    color: @foreground;
    background: transparent;
    border-color: @select;
}

#workspaces button.active {
    color: @foreground;
    background: @select;
    border-color: @blue;
}

#workspaces button.urgent {
    color: @red;
    border-color: @red;
}

#network,
#battery,
#pulseaudio,
#clock,
#custom-power {
    background: @background;
    border-radius: 6px;
    margin: 4px 5px;
    padding: 0 11px;
}

#network {
    color: @green;
    background: transparent;
    padding: 0 9px;
}

#battery {
    color: @yellow;
}

#battery.warning {
    color: @orange;
}

#battery.critical {
    color: @red;
}

#pulseaudio {
    color: @blue;
    background: transparent;
    padding: 0 9px;
}

#clock {
    color: @foreground;
    background: transparent;
    font-weight: 800;
    padding: 0 14px;
}

#custom-power {
    color: @red;
    background: transparent;
    margin-right: 12px;
    padding: 0 10px;
}
